<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-0 col-md-3"></div>
                <div class="col-sm-12 col-md-7">
                <h5>&copy; Copyright 2014-2015 <a href="http://plusplus7.com">plusplus7.com</a> | Designer &amp; Author: plusplus7 | Running on Aliyun ECS </h5>
            </div>
        <div class="col-sm-0 col-md-2"></div>
        </div>
    </div>
</footer>
