footer.main-footer
  .container
    .row
      .col-sm-0.col-md-3
      .col-sm-12.col-md-7
        h5
          | © Copyright 2014-2016
          a(href='http://plusplus7.com') plusplus7.com
          |  | Designer & Author: plusplus7 | On Aliyun ECS
      .col-sm-0.col-md-2
