doctype html
html
  head
    title= title
    include includes/header_meta
    include includes/header_css
  body.home-template
    block content
    include includes/footer_line
    include includes/footer_js
