<div ng-controller="structureCtrl">
    <div ng-show="structureShow">
        <div ng-include="'/javascripts/app/components/navbar/navbarView.html'"></div>
        <div class="container">
            <div ng-include="'/javascripts/app/components/sidebar/sidebarView.html'"></div>
            <div ng-include="'/javascripts/app/components/content/contentView.html'"></div>
            <div ng-include="'/javascripts/app/components/content/previewView.html'"></div>
            <div ng-include="'/javascripts/app/components/content/categoryView.html'"></div>
            <div ng-include="'/javascripts/app/components/content/articleManagementView.html'"></div>
        </div>
    </div>
</div>