<div ng-controller="categoryManagerCtrl">
    <div  ng-show="categoryManagerShow">
        <main class="col-md-4 main-content">
            <div class="list-group">
                <a ng-repeat="category in categories" class="list-group-item" ng-click="category_onclick(category.category_id)">
                    {{ category.display_name }}
                </a>
            </div>
        </main>
        <main class="col-md-5 main-content">
            <div class="list-group">
                <div ng-repeat="article_id in category.article_list track by $index" >
                    <div ng-class="{'list-group-item' : true, 'list-group-item-danger' : articles.indexOf(article_id) <= -1}" style="overflow-wrap: break-word">
                        {{ article_id }}
                        <button type="button" class="close" ng-click="category_article_close_onclick(article_id)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button type="button" class="close" ng-click="category_article_top_onclick(article_id)">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                        </button>
                    </div>
                </div>
                <div class="btn btn-default btn-group-justified" data-toggle="modal" data-target="#addCategoryModal" style="overflow-wrap: break-word" ng-click="attach_article()">
                    <div class="text-center"><span class="glyphicon glyphicon-plus"></span> </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="addCategoryModalLabel">添加文章到分类</h4>
                            </div>
                            <div class="modal-body">
                                <input type="text" ng-model="add_category_article_id"/>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" ng-click="add_category_submit(add_category_article_id)" data-dismiss="modal">提交</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>