<div ng-controller="previewCtrl">
    <div ng-show="previewShow">
        <div class="container">
            <div class="row" ng-show="type=='prev'">
                <main class="col-md-8 main-content">
                    <div ng-bind-html="content"></div>
                </main>
                <aside class="col-md-4 sidebar">
                    <div class="widget">
                        <h4 class="title">博客专栏</h4>
                        <div class="content community">
                            <p>
                                <a href="/blog/area/blog_journal">生活日常</a></p>
                            <p>
                                <a href="/blog/area/daily_training">普通程序员的日常修行之路</a></p>
                            <p>
                                <a href="/blog/area/game_ori_and_the_blind_forest">奥里与迷失之森</a></p>
                        </div>
                    </div>
                    <div class="widget">
                        <h4 class="title">所有分类</h4>
                        <div class="content community">
                            <p>
                                <a href="/blog/area/math_and_algorithm">数学与算法</a></p>
                            <p>
                                <a href="/blog/area/video_game_anchor_self_promotion">业余游戏解说的自我修养</a></p>
                        </div>
                    </div>
                    <div class="widget">
                        <h4 class="title">友情链接</h4>
                        <div class="content community">
                            <p>
                                <a href="http://blog.csdn.net/sssogs/">ACM/ICPC解题报告</a>
                                <br/></p>
                            <p>
                                <a href="http://prince-laharl.github.io/">Prince Laharl</a>
                                <br/></p>
                            <p>
                                <a href="http://fluyy.net">FLUYY</a>
                                <br/></p>
                            <p>
                                <a href="http://uazw.github.io/">豆腐</a>
                                <br/></p>
                            <p>
                                <a href="http://lenny.sinaapp.com/">LENNY</a>
                                <br/></p>
                            <p>
                                <a href="http://acm.cuit.edu.cn/">CUIT ACM校队</a>
                                <br/></p>
                            <p>
                                <a href="http://www.linkgod.net/">LinkGod</a>
                                <br/></p>
                            <p>
                                <a href="http://joychou.org/">JoyChou</a>
                                <br/></p>
                        </div>
                    </div>
                    <div class="widget">
                        <h4 class="title">About me</h4>
                        <div class="content community">
                            <p>
                            <h5>网络ID是plusplus7, 简称+7
                                <br/>
                                <h5>
                                    <h5>本职是后台开发工程师, 业余游戏解说, 游戏主播
                                        <br/></h5>
                                    <h5>喜欢玩电子游戏，喜欢算法和数学</h5>
                                    <h5>喜欢用轻松的文字来记录学习工作生活中的点点滴滴</h5>
                                    <h5>我是+7，我热爱生活，我对我的人生负责</h5>
                                    <a href="http://weibo.com/plusplus7" target="_blank">
                                        <img src="http://7xlt42.com1.z0.glb.clouddn.com/weibo_icon.png-60percent" width="40px" height="40px" /></a>&nbsp; &nbsp; &nbsp;
                                    <a href="https://github.com/plusplus7" target="_blank">
                                        <img src="http://7xlt42.com1.z0.glb.clouddn.com/github_icon.png-60percent" width="40px" height="40px" /></a>&nbsp; &nbsp; &nbsp;
                                    <a href="http://space.bilibili.com/1438242" target="_blank">
                                        <img src="http://7xlt42.com1.z0.glb.clouddn.com/bilibili_icon.png-fullpercent" width="40px" height="40px" /></a></p>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="row" ng-show="type=='post'">
                <main class="col-md-12 main-content">
                    <div ng-bind-html="content"></div>
                </main>
            </div>
        </div>
    </div>
</div>